<?xml version="1.0" standalone="no"?>
<svg viewBox="0 0 {{ width }} {{ height }}" xmlns="http://www.w3.org/2000/svg">
  <desc>vidavidorra logo</desc>

  <path
    desc="double V"
    fill="{{ colour }}"
    stroke="none"
    d="{{ doubleVData }}
       Z"
  />

  <path
    desc="single V"
    fill="{{ colour }}"
    stroke="none"
    d="{{ singleVData }}
       Z"
  />
</svg>
